













<div class="flex justify-between mt-4">
    <a routerLink="/sendMail" class="block text-md px-4 py-1 rounded text-blue-700 font-bold hover:text-white hover:bg-blue-700">Add New Email</a>
   
    <a routerLink="/dashboard" class="block text-md px-4 py-1 rounded text-blue-700 font-bold hover:text-white hover:bg-blue-700">Back to the Dashboard</a>
</div>


<div class="p-5 h-screen bg-white-100 mt-1">
    
    <h1 class="text-xl mb-2 font-bold text-black">List of emails</h1>
    <div class="overflow-auto rounded-lg bg-white shadow-md md-block">
        <table class="w-full">
            <thead class="bg-gray-50 border-b-2 border-gray-300">
                <tr>
                    <th class="p-3 text-sm font-bold text-black tracking-wide text-left">ID</th>
                    <th class="p-3 text-sm  font-bold text-black tracking-wide text-left">Sender Email</th>
                    <th class="p-3 text-sm  font-bold text-black tracking-wide text-left">Recipient Email</th>
                    <th class=" p-3 text-sm  font-bold text-black tracking-wide text-left">ID at AWS</th>
                    <th class=" p-3 text-sm font-bold text-black tracking-wide text-left">Status</th>
                    <!-- <th class="py-3 text-sm font-medium tracking-wide text-left">Status at AWS</th> -->



                    <th class=" p-3 text-sm font-bold text-black tracking-wide text-left">Try </th>
                    <th class=" p-3 text-sm font-bold text-black tracking-wide text-left">CreatedAt </th>
                    <th class=" p-3 text-sm font-bold text-black tracking-wide text-left">UpdatedAt</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100">
                <tr *ngFor="let email of getPaginatedEmails()">
                    <td class="font-medium text-sm px-4 py-2">
                        <span style="color: #8576FF">{{ email._id }}</span>
                    </td>
                    

                    <td class="px-2 py-2  font-semibold text-black">{{ email.from }}</td>
                    <td class="px-2 py-2  font-semibold text-black">{{ email.to }}</td>

                    <td class="px-2 py-2 text-sm">{{ email.external_id }}</td> <!-- Reduced padding and font size -->
                    <td class="px-6 py-4 font-medium text-black">
                        <span [ngClass]="{'bg-green-200 p-2 rounded-lg': email.status === 'sent', 'bg-yellow-200 p-2 rounded-lg': email.status !== 'sent'}">{{ email.status }}</span>
                    </td>
                    
                    

                    <td class="px-4 py-2 font-medium text-black">{{ email.try }}</td>
                    <td class="px-2 py-2 text-sm text-sm">{{ email.createdAt |  date: 'medium'}}</td> <!-- Reduced padding and font size -->
                    <td class="px-4 py-2">{{ email.updatedAt |  date: 'medium' }}</td>
                </tr>
                

                
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <div class="flex justify-center mt-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l"
                (click)="prevPage()"
                [disabled]="currentPage === 1">Previous</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r"
                (click)="nextPage()"
                [disabled]="currentPage * pageSize >= totalItems">Next</button>
    </div>
</div>
