<!-- my-component.component.html -->

<!-- my-component.component.html -->

<div class="flex flex-col items-center justify-center">
    <div class="w-64 h-60 mb-2 mt-11 rounded-lg overflow-hidden">
        <img src="assets/campaignEmail.PNG" alt="Image" class="w-full h-full object-cover" />
    </div>

    <h2 class="text-xl font-bold mb-2"> Would you like to create campaign ?</h2>



    <div class="flex">
        <button routerLink="/sendMail" class="mr-4 px-10 py-2 bg-orange-500 text-white rounded hover:bg-orange-600">Create Campaign</button>
        <button routerLink="/listMail" class="px-10 py-2  bg-indigo-600 hover:bg-indigo-500 text-white rounded ">List of emails</button>
    </div>
</div>

